
h2 {
	text-align: center;
}

.all-boxes {
display: flex;
justify-content: space-between;	
}


.box {
	width: 300px;
	border: 1px solid lightblue;
	border-radius: 5%;
	padding: 10px;
}

.img {
	text-align: center;
}

.some-product {
font-size: 20px;
padding-top: 25px;
text-align: center;

}

.text {
	padding-top: 25px;
	text-align: center;
}

.buttons {
	margin-top: 20px;
	font-size: 15px;
	margin-left:100px;
	color: grey;
}

